{
    --bodyBgColor: #495579;
    --bodyTextColor: #F7F5EB;
    --textSmall: 16px;
    --textMedium: 24px;
    --textLarge: 32px;

    --btnBgColor: #2B3A55;
    --btnTextColor: #E8E2E2;
    --hoverColor: #2C74B3;
    --disabledColor: #a4c0d2;
}